<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://www.ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.enableets.edu.teaching.framework.dao.TeachingPackageDAO">
	<sql id="select_clause">
		select
			content_id as contentId,
			name as name,
			teaching_program_id as teachingProgramId,
			catalog_id as catalogId,
			catalog_name as catalogName,
			start_class_hour as startClassHour,
			end_class_hour as endClassHour,
			require_class_hour as requireClassHour,
			creator as creator,
			create_time as createTime,
			updator as updator,
			update_time as updateTime,
			provider_code as providerCode
		from 
			teaching_package
	</sql>
	
	<sql id="where_clause">
		<where>
			<if test="name != null" >
					and name = #{name}
			</if>
			<if test="teachingProgramId != null" >
					and teaching_program_id = #{teachingProgramId}
			</if>
			<if test="catalogId != null" >
					and catalog_id = #{catalogId}
			</if>
			<if test="catalogName != null" >
					and catalog_name = #{catalogName}
			</if>
			<if test="startClassHour != null" >
					and start_class_hour = #{startClassHour}
			</if>
			<if test="endClassHour != null" >
					and end_class_hour = #{endClassHour}
			</if>
			<if test="requireClassHour != null" >
					and require_class_hour = #{requireClassHour}
			</if>
			<if test="creator != null" >
					and creator = #{creator}
			</if>
			<if test="createTime != null" >
					and create_time = #{createTime}
			</if>
			<if test="updator != null" >
					and updator = #{updator}
			</if>
			<if test="updateTime != null" >
					and update_time = #{updateTime}
			</if>
			<if test="providerCode != null" >
					and provider_code = #{providerCode}
			</if>
		</where>
	</sql>

</mapper>
